stepfunctions/asl-v1-1.json
{
  "Comment": "Ingest State Machine v1.1 - validation + manifest (extensible)",
  "StartAt": "InitContext",
  "States": {
    "InitContext": {
      "Comment": "Normalize incoming event into a stable internal context (job/policy/impl).",
      "Type": "Pass",
      "Parameters": {
        "job": {
          "job_id.$": "$.job_id",
          "project_code.$": "$.project_code"
        },
        "policy": {
          "ruleset_version": "v1.0",
          "job_id.$": "$.job_id",
          "project_code.$": "$.project_code"
        },
        "impl": {
          "s3": {
            "bucket.$": "$.bucket",
            "object_key.$": "$.object_key",
            "ingest_folder.$": "$.ingest_folder",
            "folder_path.$": "$.folder_path"
          },
          "event": {
            "created_at.$": "$.created_at",
            "trigger.$": "$.trigger"
          },
          "orchestration": {
            "execution_id.$": "$$.Execution.Id",
            "entered_time.$": "$$.State.EnteredTime"
          }
        },
        "results": {}
      },
      "ResultPath": "$",
      "Next": "UpdateJobStateValidating"
    },

    "UpdateJobStateValidating": {
      "Comment": "DynamoDB: set state = VALIDATING",
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:768979069717:function:ingest-update-job-state",
        "Payload": {
          "job_id.$": "$.job.job_id",
          "project_code.$": "$.job.project_code",
          "new_state": "VALIDATING",
          "trigger.$": "$.impl.event.trigger",
          "ruleset_version.$": "$.policy.ruleset_version",
          "execution_id.$": "$.impl.orchestration.execution_id",
          "entered_time.$": "$.impl.orchestration.entered_time"
        }
      },
      "ResultPath": "$.results.update_validating",
      "Next": "ValidateFiles"
    },

    "ValidateFiles": {
      "Comment": "List S3 once, apply validation rules, build inventory + stats.",
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:768979069717:function:ingest-validate-files",
        "Payload": {
          "job_id.$": "$.job.job_id",
          "project_code.$": "$.job.project_code",
          "bucket.$": "$.impl.s3.bucket",
          "folder_path.$": "$.impl.s3.folder_path",
          "object_key.$": "$.impl.s3.object_key",
          "ingest_folder.$": "$.impl.s3.ingest_folder",
          "trigger.$": "$.impl.event.trigger",
          "created_at.$": "$.impl.event.created_at",
          "ruleset_version.$": "$.policy.ruleset_version"
        }
      },
      "ResultPath": "$.results.validation",
      "Next": "ValidationChoice"
    },

    "ValidationChoice": {
      "Comment": "Proceed only if validation ok == true.",
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.results.validation.Payload.ok",
          "BooleanEquals": true,
          "Next": "UpdateJobStatePreflightValidated"
        }
      ],
      "Default": "UpdateJobStateFailedValidation"
    },

    "UpdateJobStatePreflightValidated": {
      "Comment": "DynamoDB: set state = PREFLIGHT_VALIDATED",
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:768979069717:function:ingest-update-job-state",
        "Payload": {
          "job_id.$": "$.job.job_id",
          "project_code.$": "$.job.project_code",
          "new_state": "PREFLIGHT_VALIDATED",
          "trigger.$": "$.impl.event.trigger",
          "ruleset_version.$": "$.policy.ruleset_version",
          "execution_id.$": "$.impl.orchestration.execution_id",
          "entered_time.$": "$.impl.orchestration.entered_time"
        }
      },
      "ResultPath": "$.results.update_preflight_validated",
      "Next": "NormalizeValidateResult"
    },

    "NormalizeValidateResult": {
      "Type": "Pass",
      "InputPath": "$.results.validation.Payload",
      "ResultPath": "$.validate_result",
      "Next": "WriteManifest"
    },

    "WriteManifest": {
      "Comment": "Write one manifest JSON (snapshot) to S3 and store manifest_s3_uri in DynamoDB (inside Lambda).",
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:768979069717:function:ingest-write-manifest",
        "Payload": {
          "job_id.$": "$.policy.job_id",
          "project_code.$": "$.policy.project_code",
          "policy.$": "$.policy",
          "impl.$": "$.impl",
          "validate_result.$": "$.validate_result"
        }
      },
      "ResultPath": "$.results.manifest",
      "Next": "UpdateJobStateDeepValidating"
    },

    "UpdateJobStateDeepValidating": {
      "Comment": "DynamoDB: set state = DEEP_VALIDATING (start of deep checks-checksum/media).",
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:768979069717:function:ingest-update-job-state",
        "Payload": {
          "job_id.$": "$.job.job_id",
          "project_code.$": "$.job.project_code",
          "new_state": "DEEP_VALIDATING",
          "trigger.$": "$.impl.event.trigger",
          "ruleset_version.$": "$.policy.ruleset_version",
          "execution_id.$": "$.impl.orchestration.execution_id",
          "entered_time.$": "$.impl.orchestration.entered_time",
          "manifest_s3_uri.$": "$.results.manifest.Payload.manifest_s3_uri"
        }
      },
      "ResultPath": "$.results.update_deep_validating",
      "Next": "DetectMhlPresence"
    },

    "DetectMhlPresence": {
      "Comment": "Detect whether an .mhl exists for this delivery (drives checksum mode).",
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:768979069717:function:ingest-detect-mhl",
        "Payload": {
          "job_id.$": "$.job.job_id",
          "project_code.$": "$.job.project_code",
          "manifest_s3_uri.$": "$.results.manifest.Payload.manifest_s3_uri",
          "inventory.$": "$.validate_result.inventory"
        }
      },
      "ResultPath": "$.results.detect_mhl",
      "Next": "ChecksumModeChoice"
    },

    "ChecksumModeChoice": {
      "Comment": "Branch: if .mhl present -> VERIFY; else -> BASELINE/SKIP (v1).",
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.results.detect_mhl.Payload.mhl_present",
          "BooleanEquals": true,
          "Next": "ChecksumVerifyMhl"
        }
      ],
      "Default": "ChecksumBaseline"
    },

    "ChecksumVerifyMhl": {
      "Comment": "Verify delivery files against ASC MHL contents.",
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:768979069717:function:ingest-checksum-verify-mhl",
        "Payload": {
          "job_id.$": "$.job.job_id",
          "project_code.$": "$.job.project_code",
          "bucket.$": "$.impl.s3.bucket",
          "folder_path.$": "$.impl.s3.folder_path",
          "manifest_s3_uri.$": "$.results.manifest.Payload.manifest_s3_uri",
          "inventory.$": "$.validate_result.inventory",
          "mhl_keys.$": "$.results.detect_mhl.Payload.mhl_keys"
        }
      },
      "ResultPath": "$.results.checksum",
      "Next": "DeepValidateMedia"
    },

    "ChecksumBaseline": {
      "Comment": "Compute baseline checksums for delivery files when no MHL is present.",
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:768979069717:function:ingest-checksum-baseline",
        "Payload": {
          "job_id.$": "$.job.job_id",
          "project_code.$": "$.job.project_code",
          "bucket.$": "$.impl.s3.bucket",
          "folder_path.$": "$.impl.s3.folder_path",
          "manifest_s3_uri.$": "$.results.manifest.Payload.manifest_s3_uri",
          "inventory.$": "$.validate_result.inventory",
          "algorithm": "xxh64"
        }
      },
      "ResultPath": "$.results.checksum",
      "Next": "DeepValidateMedia"
    },

    "DeepValidateMedia": {
      "Comment": "Classify media candidates from inventory and record media summary.",
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:768979069717:function:ingest-deep-validate-media",
        "Payload": {
          "job_id.$": "$.job.job_id",
          "project_code.$": "$.job.project_code",
          "bucket.$": "$.impl.s3.bucket",
          "folder_path.$": "$.impl.s3.folder_path",
          "manifest_s3_uri.$": "$.results.manifest.Payload.manifest_s3_uri",
          "inventory.$": "$.validate_result.inventory"
        }
      },
      "ResultPath": "$.results.media",
      "Next": "DeepValidateMediaPolicy"
    },

    "DeepValidateMediaPolicy": {
      "Comment": "Evaluate baseline media-policy findings from the media inspection summary.",
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:768979069717:function:ingest-deep-validate-media-policy",
        "Payload": {
          "job_id.$": "$.job.job_id",
          "project_code.$": "$.job.project_code",
          "manifest_s3_uri.$": "$.results.manifest.Payload.manifest_s3_uri",
          "ruleset_version.$": "$.policy.ruleset_version",
          "media_result.$": "$.results.media.Payload"
        }
      },
      "ResultPath": "$.results.media_policy",
      "Next": "BuildDeepValidationSummary"
    },

    "BuildDeepValidationSummary": {
      "Comment": "Combine deep-validation family results into one stored summary.",
      "Type": "Pass",
      "Parameters": {
        "checksum.$": "$.results.checksum.Payload",
        "media.$": "$.results.media.Payload",
        "media_policy.$": "$.results.media_policy.Payload"
      },
      "ResultPath": "$.results.deep_validation_summary",
      "Next": "UpdateJobStateDeepValidated"
    },

    "UpdateJobStateDeepValidated": {
      "Comment": "DynamoDB: set state = DEEP_VALIDATED (deep validation complete).",
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:768979069717:function:ingest-update-job-state",
        "Payload": {
          "job_id.$": "$.job.job_id",
          "project_code.$": "$.job.project_code",
          "new_state": "DEEP_VALIDATED",
          "trigger.$": "$.impl.event.trigger",
          "ruleset_version.$": "$.policy.ruleset_version",
          "execution_id.$": "$.impl.orchestration.execution_id",
          "entered_time.$": "$.impl.orchestration.entered_time",
          "manifest_s3_uri.$": "$.results.manifest.Payload.manifest_s3_uri",
          "deep_validation_summary.$": "$.results.deep_validation_summary"
        }
      },
      "ResultPath": "$.results.update_deep_validated",
      "Next": "DeepValidationOutcomeChoice"
    },

    "DeepValidationOutcomeChoice": {
      "Comment": "Route deep-validation result to ready-for-review or rejection.",
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.results.media_policy.Payload.ok",
          "BooleanEquals": false,
          "Next": "UpdateJobStateRejectedPolicy"
        }
      ],
      "Default": "UpdateJobStateReadyForReview"
    },

    "UpdateJobStateRejectedPolicy": {
      "Comment": "DynamoDB: set state = REJECTED_POLICY when media policy findings are present.",
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:768979069717:function:ingest-update-job-state",
        "Payload": {
          "job_id.$": "$.job.job_id",
          "project_code.$": "$.job.project_code",
          "new_state": "REJECTED_POLICY",
          "trigger.$": "$.impl.event.trigger",
          "ruleset_version.$": "$.policy.ruleset_version",
          "execution_id.$": "$.impl.orchestration.execution_id",
          "entered_time.$": "$.impl.orchestration.entered_time",
          "manifest_s3_uri.$": "$.results.manifest.Payload.manifest_s3_uri",
          "deep_validation_summary.$": "$.results.deep_validation_summary",
          "policy_reason": "media_policy_findings"
        }
      },
      "ResultPath": "$.results.update_rejected_policy",
      "Next": "Done"
    },

    "UpdateJobStateReadyForReview": {
      "Comment": "DynamoDB: set state = READY_FOR_REVIEW when deep validation is complete and no policy findings require rejection.",
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:768979069717:function:ingest-update-job-state",
        "Payload": {
          "job_id.$": "$.job.job_id",
          "project_code.$": "$.job.project_code",
          "new_state": "READY_FOR_REVIEW",
          "trigger.$": "$.impl.event.trigger",
          "ruleset_version.$": "$.policy.ruleset_version",
          "execution_id.$": "$.impl.orchestration.execution_id",
          "entered_time.$": "$.impl.orchestration.entered_time",
          "manifest_s3_uri.$": "$.results.manifest.Payload.manifest_s3_uri",
          "deep_validation_summary.$": "$.results.deep_validation_summary"
        }
      },
      "ResultPath": "$.results.update_ready_for_review",
      "Next": "Done"
    },

    "UpdateJobStateFailedValidation": {
      "Comment": "DynamoDB: set state = FAILED_VALIDATION and store errors",
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:768979069717:function:ingest-update-job-state",
        "Payload": {
          "job_id.$": "$.job.job_id",
          "project_code.$": "$.job.project_code",
          "new_state": "FAILED_VALIDATION",
          "trigger.$": "$.impl.event.trigger",
          "ruleset_version.$": "$.policy.ruleset_version",
          "execution_id.$": "$.impl.orchestration.execution_id",
          "entered_time.$": "$.impl.orchestration.entered_time",
          "validation_errors.$": "$.results.validation.Payload.errors"
        }
      },
      "ResultPath": "$.results.update_failed_validation",
      "Next": "Done"
    },


    "Done": {
      "Comment": "Final output keeps full context + results so future steps can be added easily.",
      "Type": "Pass",
      "End": true
    }
  }
}